@mixin button($bg-color: $blue, $color: $white) {
  display: inline-block;
  background-color: $bg-color;
  color: $white;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 0.8;
  }
}
