@mixin input-reset {
  background-color: $black2;
  color: $white1;
  padding: 1rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #282C34;
  font-size: 1.6rem;
  font-family: $app-font-family;
  outline: none;
}
