@mixin styled-radio-checkbox-base($size: 1.8rem) {
  display: inline-block;
  margin-right: 4rem;

  label {
    display: flex;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: $size;
      height: $size;
      margin-right: 1rem;
      box-sizing: border-box;
    }
  }

  input {
    width: $size;
    height: $size;
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
}
