.app-panels {
  display: flex;
  height: 100%;
}

.app-panel {
  flex: 0 0 50%;
  padding: $spacing;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    padding: $spacing * 2;
  }

  &.app-panel--preview {
    overflow: hidden;
    border-left: solid 0.1rem $black2;
  }

  &.app-panel--dark {
    background-color: $black;
    color: $white1;
  }

  &.app-panel--light {
    background-color: $white;
    color: $white1;
  }
}
