.generated-code-blocks {
  margin-top: 6rem;
}

.generated-code-blocks__title {
  margin: 0 0 3rem;
}

.generated-code-blocks__code {
  display: flex;
  justify-content: space-between;

  .form-group {
    width: 48%;
    margin-top: 0;
  }
}
