$slider-handle-size: 2.2rem;

.slider-input {
  display: flex;
  align-items: center;
}

.slider-input__bar {
  position: relative;
  height: $slider-handle-size;
  width: 100%;
  touch-action: none;

  // these are class names from the rc-slider lib
  // we nedd the extra specificity here in order to actually style things
  .rc-slider-rail,
  .rc-slider-track {
    position: absolute;
    width: 100%;
    height: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.2rem;
  }

  .rc-slider-rail {
    background-color: $white2;
  }

  .rc-slider-track {
    background-color: $blue;
  }

  .rc-slider-handle {
    display: block;
    width: $slider-handle-size;
    height: $slider-handle-size;
    border-radius: 50%;
    position: absolute;
    background-color: $white;
    outline: none;
    cursor: ew-resize;
  }
}

.slider-input__number {
  @include input-reset;
  margin-left: 4rem;
  flex-shrink: 0;
  width: 10rem;
}
