$thumb-size: 20px;
$thumb-color: $white;
$thumb-focus-shadow: 0 0 8px $blue;
$track-height: 4px;
$track-color: $blue;

@mixin thumb {
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px $black2, 0px 0px 1px $black2;
  border: 1px solid $white1;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: 50%;
  background: $thumb-color;
  cursor: pointer;
  margin-top: -(($thumb-size - $track-height) / 2);
  transition: transform 100ms;
  &:hover {
    transform: scale(1.1);
  }
}

@mixin track {
  width: 100%;
  height: $track-height;
  cursor: pointer;
  box-shadow: 1px 1px 1px $black2, 0px 0px 1px $black2;
  background: $blue;
  border-radius: 1.2px;
}


.slider-input {
  display: flex;
  align-items: center;

  input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    margin: 18px 3rem 18px 0;
    width: 100%;

    &::-moz-focus-outer {
      border: 0;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    // TODO: Test in IE/Edge

    &::-ms-track {
      @include track;
      background: transparent;
      border-color: transparent;
      border-width: ($thumb-size / 2) 0;
      color: transparent;
    }

    &::-ms-thumb {
      @include thumb;
      margin-top: $track-height / 4;
    }

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        background-color: $blue;
      }

      &::-webkit-slider-thumb {
        box-shadow: $thumb-focus-shadow;
      }

      &::-moz-range-thumb {
        box-shadow: $thumb-focus-shadow;
      }

      &::-ms-thumb {
        box-shadow: $thumb-focus-shadow;
      }
    }
  }

  .slider-input__number {
    @include input-reset;
    width: 10rem;
  }

}
