.styled-radio {
  @include styled-radio-checkbox-base;

  label {
    &::before {
      border-radius: 50%;
      background-color: $black3;
    }
  }

  input {
    &:checked + label::before {
      background-color: $white;
      box-shadow: inset 0 0 0 0.6rem $blue;
    }
  }
}
